= simple_form_for discussion do |f|
  = f.input :title, label: "Enter title of new disscussion:"
  = f.input :description,  label: "Enter description, please:"
  = f.button :submit, class: "btn btn-primary"

